.navlinks{
    background-color: blueviolet;
    align-items: start;
}

.user-icon{
    border-radius: 50%;
    padding: 5px 10px 5px;
    background-color: #fff;
    cursor: pointer;
}

.nav-item .nav-link {
  color:rgb(197, 197, 197);
  font-weight:700;
}

.user-container{
  margin-left: 3rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .user-container{
      margin-left: 0rem;
  }
}